/* modal forms fix */
.ui-widget-overlay {
    z-index: 1055 !important;
}

.ui-dialog {
    z-index: 1060 !important;
}

.ui-dialog-content {
    max-height: 70vh !important;
}

.inline-action:hover {
    text-decoration-line: none;
}

.inline-action:not(.action-inline-create) {
    margin: 0 5px 0 0;
}

.disabled, .disabled:hover {
    color: #ccc;
}
